* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --DarkerGray: #454545;
    --DarkGray: #949494;
    --LightGray: #D4D4D4;
    --LightPink: #FFB3FF;
}

main {
    background-color: var(--DarkGray);
}

header {
    background-color: var(--DarkerGray);
    color: var(--DarkerGray);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

h1 {
    display: inline-block;
    margin: 10px 0 10px 0;
    padding: 0 5px 0 30px;
    font-size: 36px;
    background-color: var(--LightPink);
}

header nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    margin-right: 60px;
    float: right;
    font-size: 16px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    text-align: flex-end;
    margin-left: 25px;
}

header nav ul li a {
    color: var(--LightPink);
    text-decoration: none;
}

#heroBanner {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

#about-me {
    display: flex;
}

.aside-title {
    height: 50px;
    width: 20%;
    height: auto;
    display: flex;
    justify-content: right;
    text-align: right;
    padding: 10px 20px 10px 0;
    margin: 10px;
    border-right: 5px solid var(--LightGray);
    border-radius: 10px;
    color: var(--LightPink);
    font-size: 25px;
}

#JessImg {
    display: flex;
    height: 200px;
    padding-right: 10px;
}

.about-content {
    display: flex;
    height: auto;
    width: 60%;
    justify-content: flex-end;
    text-align: start;
    padding: 10px;
}

#work {
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    
}

#work-image-1-container {
    display: flex;
    width: 46%;
    height: auto;
    justify-content: center;
    flex-direction: column;

}

#work-image-1 {
    display: flex;
    /* padding: 30px; */
    justify-content: space-between;
}

.work-other-images-containter {
    display: flex;
    width: 30%;
    height: auto;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* padding-left: 5px; */
    
}
.work-other-images {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    width: fit-content;
    height: auto;
    /* justify-content: flex-end; */
    padding: 10px;
    flex-shrink: initial;
    flex-direction: row;
}

.img {
    width: 300px;
    height: 229px;
    /* justify-content: center; */
}

/* Styling adjust when viewing on Smaller laptop screens (screen sizes at 769px-992px) */
@media screen and (max-width: 1300px) {
    /* .work-other-images-containter {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    } */

    /* .work-other-images {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    } */
}

/* Styling adjust when viewing on Tablet screens (screen sizes at 426px-768px) */
@media screen and (max-width: 768px) {
    #heroBanner {
        height: 100px;
    }
}

/* Styling adjust when viewing on Mobile Phones (screen sizes at 425px or smaller) */
@media screen and (max-width: 425px) {
    header {
        flex-direction: column;
        padding-bottom: 10px;
    }

    #heroBanner {
        height: 75px;
    }

    header nav ul {
        text-align: center;
    }

    .aside-title {
        padding-right: 30px;
    }

    #JessImg {
        width: 50%;
        height: auto;
        padding-bottom: 10px;
    }

    .main-content {
        flex-direction: column;
    }
}